services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    networks:
      - rzp-net
    ports:
      - 7878:7878
    volumes:
      - /mnt/user/appdata/radarr:/config
      - /mnt/user/data:/data
    environment:
      - PUID=99
      - PGID=100
      - UMASK=022
    labels:
      - net.unraid.docker.managed=dockge
      - net.unraid.docker.webui=http://[IP]:[PORT:7878]/
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/radarr-logo.png

networks:
  rzp-net:
    external: true
