http:
  middlewares:
    sso-forward-auth:
      forwardAuth:
        address: http://traefik-oauth2-proxy:4180/oauth2/start
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-User
          - X-Auth-Request-Email
          - X-Auth-Request-Preferred-Username

    internal:
      ipWhiteList:
        sourceRange:
          - 10.0.0.0/24

    chain-sso-internal:
      chain:
        middlewares:
          - internal
          - sso-forward-auth
