---
http:
  middlewares:
    # Security headers
    secure-headers:
      headers:
        sslRedirect: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    # Internal network whitelist
    internal:
      ipWhiteList:
        sourceRange:
          - 10.0.0.0/24
