---
services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    user: "99:100"
    depends_on:
      docker-socket-proxy:
        condition: service_started
    volumes:
      - /opt/stacks/dockge/data:/app/data
      - /opt/stacks:/opt/stacks
    environment:
      - DOCKGE_STACKS_DIR=/opt/stacks
      - DOCKER_HOST=tcp://docker-socket-proxy:2375
      - DOCKER_TLS_VERIFY=1
      - DOMAIN=${DOMAIN}
    networks:
      - socket-proxy
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockge.entrypoints=websecure"
      - "traefik.http.routers.dockge.middlewares=chain-sso-internal@file"
      - "traefik.http.routers.dockge.tls.certresolver=cloudflare"
      - "traefik.http.routers.dockge.rule=Host(`dockge.${DOMAIN}`)"
      - "traefik.http.services.dockge.loadbalancer.server.port=5001"
