---
services:
  zitadel-db:
    image: postgres:15
    container_name: zitadel-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${ZITADEL_DB_USER:-zitadel}
      - POSTGRES_PASSWORD=${ZITADEL_DB_PASSWORD:-change-me}
      - POSTGRES_DB=${ZITADEL_DB_NAME:-zitadel}
    volumes:
      - zitadel-db-data:/var/lib/postgresql/data
    networks:
      - zitadel

  zitadel:
    image: ghcr.io/zitadel/zitadel:latest
    container_name: zitadel
    restart: unless-stopped
    depends_on:
      - zitadel-db
    command:
      - start-from-init
      - --masterkeyFromEnv
      - --tlsMode
      - "${ZITADEL_TLS_MODE:-external}"
      - --externalDomain
      - "${ZITADEL_DOMAIN:-auth.example.com}"
      - --externalPort
      - "443"
      - --port
      - "${ZITADEL_SERVER_PORT:-8080}"
    environment:
      - ZITADEL_MASTERKEY=${ZITADEL_MASTERKEY:-replace-with-32-byte-hex}
      - ZITADEL_EXTERNAL_DOMAIN=${ZITADEL_DOMAIN:-auth.example.com}
      - ZITADEL_EXTERNAL_PORT=443
      - ZITADEL_EXTERNAL_SECURE=true
      - ZITADEL_INTERNAL_PORT=${ZITADEL_SERVER_PORT:-8080}
      - ZITADEL_DATABASE_POSTGRES_HOST=zitadel-db
      - ZITADEL_DATABASE_POSTGRES_PORT=5432
      - ZITADEL_DATABASE_POSTGRES_DATABASE=${ZITADEL_DB_NAME:-zitadel}
      - ZITADEL_DATABASE_POSTGRES_SSL_MODE=${ZITADEL_DB_SSL_MODE:-disable}
      - ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=${ZITADEL_DB_ADMIN_USER:-zitadel}
      - ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=${ZITADEL_DB_ADMIN_PASSWORD:-change-me}
      - ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=${ZITADEL_DB_SSL_MODE:-disable}
      - ZITADEL_DATABASE_POSTGRES_USER_USERNAME=${ZITADEL_DB_USER:-zitadel}
      - ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=${ZITADEL_DB_PASSWORD:-change-me}
      - ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=${ZITADEL_DB_SSL_MODE:-disable}
      - ZITADEL_FIRSTINSTANCE_ORG_NAME=${ZITADEL_ORG_NAME}
      - ZITADEL_FIRSTINSTANCE_PROJECT_NAME=${ZITADEL_PROJECT_NAME}
      - ZITADEL_FIRSTINSTANCE_MACHINE_KEY_NAME=${ZITADEL_MACHINE_KEY_NAME}
      - ZITADEL_FIRSTINSTANCE_MACHINE_KEY_EXPIRATION_DATE=${ZITADEL_MACHINE_KEY_EXPIRATION}
      - ZITADEL_FIRSTINSTANCE_DOMAIN=${ZITADEL_DOMAIN}
      - ZITADEL_FIRSTINSTANCE_DOMAIN_PORT=443
    volumes:
      - zitadel-config:/zitadel
    networks:
      - zitadel
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zitadel.rule=Host(`${ZITADEL_DOMAIN}`)"
      - "traefik.http.routers.zitadel.entrypoints=https"
      - "traefik.http.routers.zitadel.tls=true"
      - "traefik.http.routers.zitadel.tls.certresolver=cloudflare"
      - "traefik.docker.network=traefik"
      - "traefik.http.services.zitadel.loadbalancer.server.port=8080"

volumes:
  zitadel-db-data:
  zitadel-config:

networks:
  zitadel:
    internal: true
  traefik:
    external: true
