---
services:
  stash-hub:
    image: the-stash-hub:latest
    container_name: stash-hub
    user: "99:100"
    volumes:
      - /opt/stacks/stash-hub/data:/app/data
      - /opt/stacks/stash-hub/src/utils:/app/frontend/dist/utils:ro
    environment:
      - FLASK_APP=backend/app.py
      - FLASK_ENV=production
      - APP_FRONTEND_DIR=/app/frontend/dist
      - APP_DATA_DIR=/app/data
      - PYTHONPATH=/app/backend
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.stash-hub.entrypoints=websecure"
      - "traefik.http.routers.stash-hub.middlewares=chain-sso-internal@file"
      - "traefik.http.routers.stash-hub.tls.certresolver=cloudflare"
      - "traefik.http.routers.stash-hub.rule=Host(`hub.${DOMAIN}`)"
      - "traefik.http.services.stash-hub.loadbalancer.server.port=7001"
