---
services:
  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    networks:
      - traefik
    environment:
      - LOG_LEVEL=info
      - TZ=UTC
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.flaresolverr.entrypoints=websecure"
      - "traefik.http.routers.flaresolverr.middlewares=chain-sso-internal@file"
      - "traefik.http.routers.flaresolverr.tls.certresolver=cloudflare"
      - "traefik.http.routers.flaresolverr.rule=Host(`flaresolverr.${DOMAIN}`)"
      - "traefik.http.services.flaresolverr.loadbalancer.server.port=8191"
