---
services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - /opt/stacks/lidarr:/config
      - /mnt/nas/downloads/02_processing:/music
      - /mnt/nas/downloads/01_incomplete:/downloads
    environment:
      - PUID=1000
      - PGID=1000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.lidarr.entrypoints=websecure"
      - "traefik.http.routers.lidarr.middlewares=internal@file,secure-headers@file"
      - "traefik.http.routers.lidarr.tls.certresolver=cloudflare"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.${DOMAIN}`)"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"

networks:
  traefik:
    external: true
