---
services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    restart: unless-stopped
    network_mode: host
    volumes:
      - /opt/stacks/plex-media-server:/config
      - /dev/shm/transcode:/transcode
      - /mnt/nas/data/media:/data/media
    environment:
      - PLEX_CLAIM=${PLEX_CLAIM}
      - PLEX_UID=1000
      - PLEX_GID=1000
      - VERSION=latest
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.plex.tls=true"
      - "traefik.http.routers.plex.entrypoints=websecure"
      - "traefik.http.routers.plex.middlewares=internal@file,secure-headers@file"
      - "traefik.http.routers.plex.tls.certresolver=cloudflare"
      - "traefik.http.routers.plex.rule=Host(`plex.${DOMAIN}`)"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
