---
api:
  dashboard: true
  debug: true

entryPoints:
  http:
    address: ":80"
    forwardedHeaders:
      insecure: true
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    forwardedHeaders:
      insecure: true
    http:
      tls:
        certResolver: cloudflare
  internal:
    address: ":444"
    http:
      tls:
        certResolver: cloudflare
providers:
  docker:
    endpoint: "tcp://docker-socket-proxy:2375"
    exposedByDefault: false
    network: traefik
  file:
    directory: /config
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 120s
