---
services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-socket-proxy
    restart: unless-stopped
    networks:
      - socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=1
      - NETWORKS=1
      - SERVICES=1
      - TASKS=1
      - POST=0
      - BUILD=0
      - COMMIT=0
      - CONFIGS=0
      - DISTRIBUTION=0
      - EXEC=0
      - IMAGES=0
      - INFO=1
      - NODES=0
      - PLUGINS=0
      - SECRETS=0
      - SESSION=0
      - SWARM=0
      - SYSTEM=0
      - VOLUMES=0
    dns:
      - 10.0.0.1
      - 1.1.1.1
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:2375/version"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

networks:
  socket-proxy:
    external: true
