---
services:
  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - /opt/stacks/overseerr:/app/config
    environment:
      - PUID=1000
      - PGID=1000
      - LOG_LEVEL=info
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.overseerr.tls=true"
      - "traefik.http.routers.overseerr.entrypoints=websecure"
      - "traefik.http.routers.overseerr.middlewares=internal@file,secure-headers@file"
      - "traefik.http.routers.overseerr.tls.certresolver=cloudflare"
      - "traefik.http.routers.overseerr.rule=Host(`overseerr.${DOMAIN}`)"
      - "traefik.http.services.overseerr.loadbalancer.server.port=5055"

networks:
  traefik:
    external: true
