---
- name: Deploy Docker Compose stack to homelab
  hosts: homelab
  become: true

  vars:
    stack_name: "{{ stack | default('') }}"
    stacks_src_dir: "../stacks"
    stacks_dest_dir: "/opt/stacks"
    zitadel_init_marker_path: "{{ stacks_dest_dir }}/zitadel/.zitadel_initialized"

  tasks:
    - name: Run shared stack deployment tasks
      ansible.builtin.include_tasks: tasks/deploy-stack-base.yml

    - name: Check for stack-specific tasks
      ansible.builtin.stat:
        path: "{{ playbook_dir }}/tasks/stacks/{{ stack_name }}.yml"
      register: stack_specific_tasks
      delegate_to: localhost
      become: false
      run_once: true

    - name: Run stack-specific tasks
      ansible.builtin.include_tasks: "tasks/stacks/{{ stack_name }}.yml"
      when: stack_specific_tasks.stat.exists

    - name: Deploy stack with docker-compose
      community.docker.docker_compose_v2:
        project_src: "{{ stacks_dest_dir }}/{{ stack_name }}"
        state: present
        pull: "always"
      register: output

    - name: Show deployment result
      ansible.builtin.debug:
        var: output
